<aside class="side">
  <div class="side-box">
    <h3>🔥 热门搜索</h3>
    <ul class="pop">
      <li><span class="pn p1">1</span><div><a href="/international/telegram-secret/" class="pt">Telegram 私密聊天开启方法</a><div class="pv">月搜 4500-6000</div></div></li>
      <li><span class="pn p2">2</span><div><a href="/international/signal-download/" class="pt">Signal 下载国内可用方法</a><div class="pv">月搜 2800-3800</div></div></li>
      <li><span class="pn p3">3</span><div><a href="/scenarios/no-vpn/" class="pt">国产加密聊天软件无需翻墙</a><div class="pv">月搜 1600-2200</div></div></li>
      <li><span class="pn px">4</span><div><a href="/features/burn-after-read/" class="pt">加密聊天软件阅后即焚推荐</a><div class="pv">月搜 1200-1600</div></div></li>
      <li><span class="pn px">5</span><div><a href="/features/anonymous-no-register/" class="pt">匿名聊天软件不用注册</a><div class="pv">月搜 1000-1400</div></div></li>
    </ul>
  </div>
  <div class="side-box">
    <h3>🏷️ 标签</h3>
    <div class="tags">
      <a href="/tags/蝙蝠聊天/">蝙蝠聊天</a>
      <a href="/tags/signal/">Signal</a>
      <a href="/tags/session/">Session</a>
      <a href="/tags/threema/">Threema</a>
      <a href="/tags/telegram/">Telegram</a>
      <a href="/tags/端到端加密/">端到端加密</a>
      <a href="/tags/匿名聊天/">匿名聊天</a>
      <a href="/tags/阅后即焚/">阅后即焚</a>
      <a href="/tags/国产/">国产</a>
      <a href="/tags/开源/">开源</a>
    </div>
  </div>
  <div class="side-box nl-box">
    <h3>📬 订阅更新</h3>
    <p>有新文章发布时第一时间收到通知，不错过任何加密聊天软件的最新动态。</p>
    <div class="nl-form"><input type="email" placeholder="输入邮箱地址"><button>订阅</button></div>
  </div>
</aside>